/* -------------------------------------------------------------- */
/*
	map_pref.css

					Mar/08/2020
*/
/* -------------------------------------------------------------- */
.area {
    fill: silver;
    stroke: white;
}
.popup {
    fill: black;
    font-size: 10pt;
}

/* -------------------------------------------------------------- */
