/* -------------------------------------------------------------- */
/*
	map_pref.css

					Mar/10/2020
*/
/* -------------------------------------------------------------- */
.area {
    fill: silver;
    stroke: white;
}
.popup {
    fill: black;
    font-size: 10pt;
}

.green {color: green;}
.red {color: red;}
/* -------------------------------------------------------------- */
