h1 { font-size: 14pt; padding: 1px 10px;
        border-style: solid; border-width: 0px 0px 2px 7px; border-color:green; }

body { background: #EEFFEE; }

article { background: white; margin: 10px 0px;  padding: 10px; }
