/*
	display.css

				Jan/21/2017
*/

table.main,td,th {
table-layout:fixed;
border:0.5px #00f0f0 solid;
}

td.operation {
width: 220px;
border-style: none;
}

div#left
{
height: 500px;
width: 400px;
float: left;
overflow: auto;
}

.green{color: green}
.yellow{color: yellow}
.red{color: red}
.blue{color: blue}
