table.main,td,th {
table-layout:fixed;
border:1.5px #7e7e7e solid;
/*
width: 200px;
*/
height: 16px;
}
table.tag {
border:0.5px green solid;
}

/*
td.no,th.no { width: 40px; }
td.check,th.check { width: 50px; }
td.code,th.code { width: 60px; }
*/

.cyan {color: #c7d7c7;}
.yellow {color: yellow;}
.green {color: green;}

.red {color:#ff0000;}
