body{
    display: flex;
    flex-direction: column;
}
.NavigationMenu{
    height: 180px;
    text-align: center;
    background-color: #00ffff;
    color: #fff;
}

main{
    display: flex;
    min-height: 50vh;
    margin: 5px 0 30px 0;
}
.LeftContent{
//    flex: 1;
    background-color: #909090;
    text-align: center;
    margin-right: 15px;
width: 15%;
float: left;
height: 700px;
overflow-y: scroll;
}
.RightContent{
    flex: 1;
    background-color: #ffffff;
    text-align: center;
    margin-right: 15px;
}
