/* -------------------------------------------------------------- */
/*
	df_display.css

						Aug/16/2025
*/
/* -------------------------------------------------------------- */
table.main,td,th {
table-layout:fixed;
border:1.5px #7e7e7e solid;
border-collapse: collapse;
height: 16px;
}

th {
	background: #c6c6c6;
}

.fixed-table {
    width: 800px;
    table-layout: fixed;
}

.title {
	vertical-align: top;
    table-layout: fixed;
}

.school, .target {
    width: 100px;
    table-layout: fixed;
}

.date_held, .name {
    width: 125px;
    table-layout: fixed;
}

input[type="radio"] {
	inline-size: 20px; /* 幅 */
	block-size: 20px;  /* 高さ */
}

.bold {
  font-weight: bold;
}
/* -------------------------------------------------------------- */
